body {
  background: black;
  text-align: center;
}

.clock {
  margin-top: 40vh;
  display: inline-block;
  text-align: center;
  color: #17d3fe;
  font-size: 60px;
  font-family: orbitron;
  letter-spacing: 6px;
}
